<!DOCTYPE html>
<html lang="en">
 
check

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

</head>

<body>
    <div class="d-flex justify-content-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div style="margin-top: 50px;" class="container">
        <h1 class="text-center">Wat u gonna do</h1>

        <form action="/add" method="post">
            <div class="row g-3">
                <div class="col-12">
                    <label for="title" class="form-label">Let's do it</label>
                    <input class="form-control" type="text" name="title"
                           placeholder="ex. Buy some new cars..."><br>
                </div>
                    <button class="btn btn-warning btn-lg" type="submit">+</button>
            </div>
            
        </form>

        <hr>

        {% for todo in todo_list %}
        
        <hr>
        <div class="shadow p-3 mb-5 bg-body rounded">
            Todo
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
                {{ todo.id}} | {{ todo.title }}
            </label>
            <div class="my-2">
                <a class="btn btn-secondary" href="/delete/{{ todo.id }}">done</a>
              </div>
          </div>
        </div>
        {% endfor %}

    </div>
</body>

</html>